/* CORES PADRÃO DO SITE */
:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-top: 5px;
    margin-left: 20px;
}

/* MENU (Início, Séries, Filmes e Documentários) */
header nav a{
    text-decoration: none;
    color: #FFF;
    margin-right: 15px;
    font-weight: bold;
}

header nav a:hover{
    color: rgb(185, 185, 185);
}

.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul{
    display: flex;
}

.Entrar{
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #464646;
    margin-right: 5px;

}

.Cadastro{
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: var(--vermelho);
    margin-right: 10px;
}

.login i{
    margin-right: 15px;
}

/* Filme Principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(../img/games/capa.png);
    
    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 50px;
    margin-top: 15px;
}

.filme-principal .titulo{
    margin-top: 10%;
    font-size: 60px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    font-size: 18px;
    background-color: rgba(0, 0, 0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    border-radius: 5px;

    cursor: pointer;

    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: #141414;
}

.botao i{
    margin-right: 7px;
}

.container .descricao{
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

.filme-principal .container{
    width: 45%;
    margin-left: 30px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.box-filme:hover{
    cursor: pointer;
}

.carrosel-filmes{
    margin-top: 3px;
}